.div-home
{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.div-home-content
{
    color:#000000;
    position: absolute;
    margin: auto;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding:15px;
    
    .name
    {
        position: relative;
        top:30%;
        z-index: 99;
        .size_title
        {
            font-size: 3.0rem;
        }

        .size_desc
        {
            font-size: 1.7rem;
        }
    }



    .btn
    {
        position: relative;
        top:40%;
        z-index: 99;
        text-align:center;
        width:100%;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;

        .href-work
        {
            background-image: linear-gradient(to bottom right, rgb(247,154,102), rgb(232,123,99));
            box-shadow: 0 12px 24px 0 rgba(247,154,102,0.3);
            color:#FFFFFF;
            border-radius: 30px;
            padding:15px 20px;
            cursor: pointer;
        }

        .href-work:hover
        {
            color:#FFFFFF;
            background-image: linear-gradient(to bottom right,rgb(232,123,99), rgb(247,154,102));
        }

        div
        {
            margin: 10px;
            display: inline-block;
            border-radius: 10px;
            cursor: pointer;
            -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
            -webkit-filter:opacity(40%) grayscale(100%);
            filter:opacity(40%) grayscale(100%);
            z-index: 99;
        }

        div:hover
        {
            -webkit-transform:scale(1.2);
            transform:scale(1.2);
            -webkit-filter:opacity(100%);
            filter:opacity(100%);
        }

    }

    

}

.triangle1_outer
{
    position: absolute;;
    width:0;
    height: 0;
    border-top: 60px solid rgba(184, 198, 212, 0.3);
    border-right: 180px solid transparent;  
    
    right:5%;
    bottom:10%;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index:1;
}

.triangle2_outer
{
    position: absolute;;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(232, 123, 99, 0.7);
    
    left:32%;
    top:25%;
    animation-name: t2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index:2;
}

.triangle3_outer
{
    position: absolute;;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid 3px rgba(237,112,0,0.2);
    
    left:33%;
    top:25%;
    animation-name: t3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index:3;
}

.triangle4_outer
{
    position: absolute;;
    width:0;
    height: 0;
    border-top: 120px solid rgba(229,229,233,0.8);
    border-left: 180px solid transparent;  
    
    right:8%;
    bottom:10%;
    animation-name: example2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index:-1;
}



@keyframes example {
  0%{transform: rotate(30deg)translateX(0px)translateY(0px);}
  50%{transform: rotate(30deg)translateX(0px)translateY(10px);}
  100%{transform: rotate(30deg)translateX(0px)translateY(0px);}
}

@keyframes example2 {
    0%{transform: rotate(30deg)translateX(0px)translateY(0px);}
    50%{transform: rotate(30deg)translateX(0px)translateY(5px);}
    100%{transform: rotate(30deg)translateX(0px)translateY(0px);}
  }

@keyframes t2 {
    0%{transform: rotate(-35deg)translateX(0px)translateY(0px);}
    50%{transform: rotate(-35deg)translateX(0px)translateY(10px);}
    100%{transform: rotate(-35deg)translateX(0px)translateY(0px);}
}

@keyframes t3 {
    0%{transform: rotate(-43deg)translateX(0px)translateY(0px);}
    50%{transform: rotate(-43deg)translateX(0px)translateY(5px);}
    100%{transform: rotate(-43deg)translateX(0px)translateY(0px);}
}

