.navbar 
{
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: padding 0.6s ease;
    transition: padding 0.6s ease;
    box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.05);
    
    .nav-link
    {
        color: black;
        transform:scale(1,1);
        transition: all 0.5s ease-out;
    }

    .nav-link:hover
    {
        transform:scale(1.2,1.2);
    }

    .navbar-img
    {
        position: relative;
        top:-2px;
        width: 30px;
        height: 30px;
    }

}

.navbar-expand-lg .navbar-nav .nav-link
{
    padding-left:40px;
    padding-right: 20px;
}
