.font-size-title
{
    font-size: 30px;
    line-height: 2.0em;
}

.font-size-title-small
{
    font-size: 22px;
    line-height: 2.5em;
}

.font-size-content
{
    font-size: 18px;
    line-height: 2.2em;
}


.block-item-img-text
{
    text-align: left;
}

.block-main-left
{
    text-align: left;
}

.img-life
{
    width: 210px;
    min-width:210px !important;
}